@font-face {
  font-family: "iconfont"; /* Project id 2533627 */
  src: url('iconfont.woff2?t=1620438741319') format('woff2'),
       url('iconfont.woff?t=1620438741319') format('woff'),
       url('iconfont.ttf?t=1620438741319') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdanguanli:before {
  content: "\e614";
}

.icon-yonghuguanli:before {
  content: "\e620";
}

.icon-shujutongji:before {
  content: "\e621";
}

.icon-shangpinguanli:before {
  content: "\e60a";
}

.icon-quanxianguanli:before {
  content: "\e630";
}

